.contact-team {
  .team {
    text-align: center;
  }

  .team-members {
    display: flex;
    flex-direction: column;
  }
  img {
    border-radius: 50%;
    width: 10rem;
    margin-bottom: 1rem;
  }
  .row {
    display: flex;
  }
}
#textarea {
  background: @color-snow;
  height: 3rem;
  width: 40%;
  margin-top: 0.3rem;
}

@media (max-width: 500px) {
  .row {
    flex-direction: column;
  }
}
