body {
  font-size: 62.5%;
  font-family: 'Saira', sans-serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background: @color-dark-grey;
  color: @color-snow;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
  color: @color-snow;
  margin-right: 0.5rem;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo i {
  font-size: 4rem;
  margin-right: 0.4rem;
  display: inline-block;
}

.nav-links {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-content: center;
  justify-content: center;
}
