nav {
  // position: fixed;
  // z-index: 100;
  // top: 0;
  // right: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(to bottom, black, @color-dark-grey);
  color: @color-snow;
  padding: 1rem;

  .nav-links {
    display: inline-block;
  }

  .logo img {
    width: 80%;
  }
}

a {
  text-decoration: none;
  text-transform: capitalize;
  display: inline;
  margin-right: 1rem;
  color: @color-snow;
  transition: 0.3s;

  &:hover {
    color: @color-mandarin;
  }
}

.nav-links {
  font-size: 1.3rem;
  font-weight: 300;
  display: flex;
  align-content: center;
  justify-content: center;
}
